<h1>Welcome to Blogger!!!</h1>

<h4>Please Sign In</h4>

<form method="POST" action="/">
	<label>Username</label>
	<input type="text" name="username">

	<label>Password</label>
	<input type="text" name="password">

	<input type="submit">
</form>