
<h1>Lets Post!!!</h1>



<form method="POST" action="/posts">
	<label>Post Title</label>
	<input type="text" name="[post]title">

	<label>Post Text</label>
	<textarea name="[post]text"></textarea>

	<input type="submit">
</form>
